body{
    background-color: #fff1d0;
}

.frame{
    margin: 30px 150px;
    display: flex;
    flex-direction: column;
}

.navigator{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.site-name{
    margin:0;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    color: #888098;
}

.nav-menu{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.intro{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
}

.korean-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 500;
    font-size: 50px;
}

.sample{
    background-color: #dced31;
    -webkit-text-stroke: 1px black;
}

.sample:hover{
    background-color: transparent;
    color: white;
    -webkit-text-stroke: 1px black;
    transition: none;
}

.highlight{
    color: white;
    -webkit-text-stroke: 1px black;
}

.highlight:hover{

    color: black;
    transition: none;
}

.type1:hover{
    background-color: yellowgreen;
}

.type2:hover{
    background-color: #ef798a;
}

.type3:hover{
    background-color: orange;
}

.article{
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
    align-items: center;
}

.thumbnail{
    width: 600px;
    border-radius: 50px;
}


.article-name{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 50px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.article-name:hover{
    color: pink;
    -webkit-text-stroke: 1px rgb(0, 0, 0);
    transition: 0.3s;
}

.article-comment{
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 23px;
    font-weight: 100;
    color: rgb(0, 0, 0);
}

#name1{
    position: relative;
    right: 70px;
}

#name1:hover{
    color: skyblue;
}

#name2-1{
    text-align: right;
    position: relative;
    left: 0px;
    margin-bottom: 0px;
}

#name2-2{
    text-align: right;
    position: relative;
    left: 70px;
    color: rgb(53, 53, 53);
}

#name2-2:hover{
    color: orange;
}


.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 200px;
}

.contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: black;
    margin-bottom: 40px;
    border-bottom: 2px solid black;
}


.links>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    font-weight: 400;
    margin-left: 15px;
}
